<header>
  <mat-toolbar color="primary">
    <div class="outer-margins" id="header-content">
      <div>
        <img src="assets/images/Logo_black.png">
      </div>
      <div>
        <a href="https://www.facebook.com/raagintheband/" target="_blank" mat-button color="accent">
          <fa-icon [icon]="facebookIcon" size="3x"></fa-icon>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/raagintheband/" target="_blank" mat-button color="accent">
          <fa-icon [icon]="instagramIcon" size="3x"></fa-icon>
        </a>
      </div>
    </div>
  </mat-toolbar>
</header>
