<header>
  <mat-toolbar color="primary">
    <div class="outer-margins" id="header-content">
      <div>
        <img [src]="'assets/images/Logo_' + (isDarkOn ? 'white' : 'black') + '.png'" alt="Raagin logo">
      </div>
      <div>
        <a href="https://www.facebook.com/raagintheband/" target="_blank" rel="noopener noreferrer" mat-button color="accent">
          <fa-icon [icon]="facebookIcon" size="3x"></fa-icon>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/raagintheband/" target="_blank" rel="noopener noreferrer" mat-button color="accent">
          <fa-icon [icon]="instagramIcon" size="3x"></fa-icon>
        </a>
      </div>
      <div>
        <button mat-icon-button color="accent" matTooltip="Switch to {{ isDarkOn ? 'light' : 'dark' }} mode" (click)="toggleTheme()" aria-label="Light/dark toggle button">
          <mat-icon>
            {{ isDarkOn ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
