<div class="outer-margins overlay">
  <mat-grid-list cols="6" rowHeight="3:1">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded">
      <mat-grid-tile colspan="6" rowspan="9">
        <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
      </mat-grid-tile>
    </ng-template>
    <ng-template #loaded>
      <mat-grid-tile colspan="6" rowspan="2">
        <h2 class="overlay-headers">
          {{ content?.title }}
        </h2>
      </mat-grid-tile>
      <ng-container *ngFor="let video of content.videos">
        <mat-grid-tile colspan="6" rowspan="8">
          <div fxLayout="column" fxLayoutAlign="space-around center" class="wrapper">
            <div fxFlex="1 1 auto" fxLayoutAlign="center end" class="image-wrapper">
              <video controls class="image">
                <source [src]="video?.url" [type]="video?.type">
              </video>
            </div>
            <div [innerHtml]="video?.caption" class="caption standard-text"></div>
          </div>
        </mat-grid-tile>
      </ng-container>
    </ng-template>
  </mat-grid-list>
</div>
