<div class="outer-margins overlay">
  <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded" class="spinner-wrapper">
    <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
  </ng-template>
  <ng-template #loaded>
    <div fxLayout="column wrap" fxLayoutAlign="space-around center">
      <h2 class="overlay-headers">
        {{ content?.title }}
      </h2>
      <ng-template [ngIf]="isEvent" [ngIfElse]="noEvent">
        <div class="event-wrapper" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="2vw" *ngFor="let event of content.events">
          <div class="event-image-wrapper image-wrapper">
            <img class="image" [src]="event?.imageUrl" alt="placeholder image">
          </div>
          <div class="event-text-wrapper" fxLayout="column wrap" fxLayoutAlign="space-around start" fxLayoutGap="2vh">
            <div class="header-text event-info">
              {{ event?.name }}
            </div>
            <p class="event-info standard-text" *ngIf="event?.ticketUrl">Tickets:
              <a [href]="event?.ticketUrl" target="_blank" rel="noopener noreferrer" class="links">{{ event?.ticketUrl }}</a>
            </p>
            <p class="event-info standard-text">
              {{ event?.dateTime!.toDate() | date:'MMMM d, y, h:mm a' }}
            </p>
            <a [href]="event?.location!.mapUrl" target="_blank" rel="noopener noreferrer" class="event-info links standard-text">
              <p class="event-info standard-text">{{ event?.location!.name }}</p>
              <p class="event-info standard-text">{{ event?.location!.line1 }}</p>
              <p class="event-info standard-text">{{ event?.location!.line2 }}</p>
            </a>
            <div [innerHtml]="event?.description" class="event-info standard-text"></div>
          </div>
        </div>
      </ng-template>
      <ng-template #noEvent>
        <p id="no-upcoming-text1">No upcoming events</p>
        <p id="no-upcoming-text2">Stay tuned!</p>
        <div id="no-upcoming-spacer"></div>
      </ng-template>
    </div>
  </ng-template>
</div>
