.event-info {
  width: 100%;
}

#upcoming-text {
  margin-right: 2vw;
}

#no-upcoming-text1 {
  font-size: 3vw;
}

#no-upcoming-text2 {
  font-size: 1.5vw;
  font-style: italic;
}

#no-upcoming-spacer {
  height: 1%;
}
