<div class="outer-margins overlay">
  <mat-grid-list cols="6" rowHeight="3:1">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded">
      <mat-grid-tile colspan="6" rowspan="9">
        <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" id="spinner"></app-radar-spinner>
      </mat-grid-tile>
    </ng-template>
    <ng-template #loaded>
      <mat-grid-tile colspan="6" rowspan="1">
        <h2 class="overlay-headers">Upcoming Events</h2>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="9">
        <div class="image-wrapper">
          <img class="image" [src]="content?.imageUrl" alt="placeholder image">
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <h3 class="standard-text event-info">{{ content?.name }}</h3>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1" *ngIf="content?.ticketUrl">
        <p class="event-info standard-text">
          Tickets: <a [href]="content?.ticketUrl" target="_blank" rel="noopener noreferrer" class="links">{{ content?.ticketUrl }}</a>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <p class="standard-text event-info">{{ content?.dateTime!.toDate() | date:'MMMM d, y, h:mm a' }}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        <a [href]="content?.location!.mapUrl" target="_blank" rel="noopener noreferrer" class="event-info links standard-text">
          <p class="standard-text">{{ content?.location!.name }}</p>
          <p class="standard-text">{{ content?.location!.line1 }}</p>
          <p class="standard-text">{{ content?.location!.line2 }}</p>
        </a>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <div class="standard-text event-info" [innerHtml]="content?.description"></div>
      </mat-grid-tile>
    </ng-template>
  </mat-grid-list>
</div>
