.event-info {
  width: 100%;
}

#upcoming-image-wrapper {
  height: inherit;

  #upcoming-image {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}
