.event-wrapper {
  margin-bottom: 2vh;

  .event-image-wrapper {
    margin-left: 2vw;

    img {
      max-height: 80vh;
    }
  }

  .event-text-wrapper {
    margin-right: 2vw;
    max-width: 50%;

    .event-info {
      margin: 0;
      width: 100%;
    }
  }
}

#no-upcoming-text1 {
  font-size: 3vw;
}

#no-upcoming-text2 {
  font-size: 1.5vw;
  font-style: italic;
}

#no-upcoming-spacer {
  height: 1%;
}
