@import '../../styles/media-breakpoints.scss';

form {
  width: 50vw;

  mat-form-field {
    font-size: 1.2vw;
    width: 25vw;
  }

  button {
    font-size: 1.2vw;
    padding: 0.6vh 0.5vw;
  }
}

.social-icons {
  width: 100%;

  .large-icons {
    display: none;
  }

  .medium-icons {
    display: none;
  }

  .small-icons {
    display: none;
  }

  .x-small-icons {
    display: none;
  }
}

.social-text {
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 4vw;
  text-decoration: none;
  width: 100%;
}

#bottom-social {
  margin-bottom: 2vh;
}

@media screen and (orientation: portrait) {
  form {
    mat-form-field {
      font-size: 1.3vh !important;
      width: 40vw !important;
    }

    button {
      font-size: 1.3vh !important;
      padding: 0.4vh 0.3vw !important;
    }
  }

  .social-text {
    font-size: 1.6vh !important;
  }
}

@media screen and (max-width: $desktop-6) {
  .x-large-icons {
    display: none !important;
  }

  .large-icons {
    display: block !important;
  }
}

@media screen and (max-width: $desktop-3) {
  .large-icons {
    display: none !important;
  }

  .medium-icons {
    display: block !important;
  }
}

@media screen and (max-width: $desktop-1) {
  .medium-icons {
    display: none !important;
  }

  .small-icons {
    display: block !important;
  }
}

@media screen and (max-width: $mobile-4) {
  .small-icons {
    display: none !important;
  }

  .x-small-icons {
    display: block !important;
  }
}
