@use '@angular/material' as mat;
@import './custom-palette.scss';
@import '../app/header.component.scss';
@include mat.core();

$light-primary: mat.define-palette($md-red, 500);
$light-accent: mat.define-palette($md-grey, 900);
$light-tabs: mat.define-palette($md-grey, 900);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-accent
  )
));

$dark-primary: mat.define-palette($md-grey, 500);
$dark-accent: mat.define-palette($md-grey, 50);
$dark-tabs: mat.define-palette($md-teal, 500);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-tabs
  )
));

@include mat.all-component-themes($light-theme);
@include light-dark($light-primary-text, $light-secondary-text);
@include tab-theme(mat.get-color-from-palette($light-tabs, 'default'), mat.get-color-from-palette($light-tabs, 'default-contrast'));

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include light-dark($dark-primary-text, $dark-secondary-text);
  @include tab-theme(mat.get-color-from-palette($dark-tabs, 'default'), mat.get-color-from-palette($dark-tabs, 'default-contrast'));
}
