$md-grey: (
    50 : #f7f7f7,
    100 : #eeeeee,
    200 : #e2e2e2,
    300 : #d0d0d0,
    400 : #ababab,
    500 : #8a8a8a,
    600 : #636363,
    700 : #505050,
    800 : #323232,
    900 : #121212,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff
    )
);

$md-red: (
    50 : #f8e6e8,
    100 : #edc1c4,
    200 : #d08885,
    300 : #ba5c58,
    400 : #bb3a33,
    500 : #b82617,
    600 : #ab1c17,
    700 : #9b1213,
    800 : #8e0b0c,
    900 : #7f0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff
    )
);

$md-teal: (
    50 : #dff7f6,
    100 : #b1eae8,
    200 : #7fdcdb,
    300 : #4dcdce,
    400 : #26c3c6,
    500 : #00b8c0,
    600 : #00a8ae,
    700 : #009396,
    800 : #007f7f,
    900 : #055c56,
    contrast: (
        50 : map.get($md-grey, 900),
        100 : map.get($md-grey, 900),
        200 : map.get($md-grey, 900),
        300 : map.get($md-grey, 900),
        400 : map.get($md-grey, 900),
        500 : map.get($md-grey, 50),
        600 : map.get($md-grey, 50),
        700 : map.get($md-grey, 50),
        800 : map.get($md-grey, 50),
        900 : map.get($md-grey, 50)
    )
);
