$light-primary-text: #000000;
$light-secondary-text: #ffffff;
$dark-primary-text: #f7f7f7;
$dark-secondary-text: #121212;

$md-red: (
  50: #f0e0e0,
  100: #d9b3b3,
  200: #bf8080,
  300: #a54d4d,
  400: #922626,
  500: #7f0000,
  600: #770000,
  700: #6c0000,
  800: #620000,
  900: #4f0000,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-secondary-text,
    400: $light-secondary-text,
    500: $light-secondary-text,
    600: $light-secondary-text,
    700: $light-secondary-text,
    800: $light-secondary-text,
    900: $light-secondary-text
  )
);

$md-teal: (
  50: #f0fbfb,
  100: #d9f5f4,
  200: #bfeeed,
  300: #a5e7e6,
  400: #92e1e0,
  500: #7fdcdb,
  600: #77d8d7,
  700: #6cd3d2,
  800: #62cecd,
  900: #4fc5c4,
  contrast: (
    50: $dark-secondary-text,
    100: $dark-secondary-text,
    200: $dark-secondary-text,
    300: $dark-secondary-text,
    400: $dark-secondary-text,
    500: $dark-secondary-text,
    600: $dark-secondary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text
  )
);

$md-grey: (
  50: #e3e3e3,
  100 : #b8b8b8,
  200 : #898989,
  300 : #595959,
  400 : #363636,
  500 : $dark-secondary-text,
  600 : #101010,
  700 : #0d0d0d,
  800 : #0a0a0a,
  900 : $light-primary-text,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : $dark-primary-text,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : $light-secondary-text
  )
);

@mixin light-dark($primary-text, $secondary-text) {
  .text-primary {
    color: $primary-text;
  }
  .text-secondary {
    color: $secondary-text;
  }
}
