// Desktop
$hd-desktop: 1920px;
$something3: 1440px;
$sd-desktop: 1366px;
$max-tablet-landscape: 1280px;
$mid-tablet-landscape: 1024px;
$min-tablet-landscape: 960px;
// Mobile
$max-tablet-portrait: 840px;
$mid-tablet-portrait: 720px;
$min-tablet-portrait: 600px;
$something1: 480px;
$something2: 400px;
$small-mobile-portrait: 360px;
