// Desktop
$desktop-6: 1920px;
$desktop-5: 1440px;
$desktop-4: 1366px;
$desktop-3: 1280px;
$desktop-2: 1024px;
$desktop-1: 960px;
// Mobile
$mobile-6: 840px;
$mobile-5: 720px;
$mobile-4: 600px;
$mobile-3: 480px;
$mobile-2: 400px;
$mobile-1: 360px;
