<div class="outer-margins overlay">
  <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded" class="spinner-wrapper">
    <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
  </ng-template>
  <ng-template #loaded>
    <div fxLayout="column wrap" fxLayoutAlign="space-around center" fxLayoutGap="2vh">
      <h2 class="overlay-headers">
        {{ content?.title }}
      </h2>
      <div class="member-group" [id]="(isLast) ? 'last-group' : ''" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="2vh" *ngFor="let member of content?.lineup; last as isLast; even as isEven; odd as isOdd">
        <div [fxLayout]="(isEven) ? 'row' : 'row-reverse'" fxLayoutAlign="space-around center" fxLayoutGap="2vw">
          <div class="image-wrapper member-pic-wrapper">
            <img class="image member-pic" [src]="member?.imageUrl" [alt]="member.name">
          </div>
          <div class="text-wrapper" fxLayout="column wrap" [fxLayoutAlign]="(isEven) ? 'space-around start' : 'space-around end'" fxLayoutGap="2vh">
            <div class="header-text member-header" [ngClass]="{ 'left-texts': isOdd, 'right-texts': isEven }">
              {{member.name + ' - ' + member.role}}
            </div>
            <div class="standard-text" [ngClass]="{ 'left-texts': isOdd, 'right-texts': isEven }" [innerText]="member.description"></div>
          </div>
        </div>
        <hr class="dividers" *ngIf="!isLast">
      </div>
    </div>
  </ng-template>
</div>
