<div class="outer-margins overlay">
  <mat-grid-list cols="6" rowHeight="4:1">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded">
      <mat-grid-tile colspan="6" rowspan="7">
        <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
      </mat-grid-tile>
    </ng-template>
    <ng-template #loaded>
      <mat-grid-tile colspan="6" rowspan="2">
        <h2 class="overlay-headers">Members</h2>
      </mat-grid-tile>
      <ng-container *ngFor="let name of names; last as isLast; even as isEven; odd as isOdd">
        <mat-grid-tile colspan="2" rowspan="4" *ngIf="isEven">
          <div class="image-wrapper">
            <img class="image" [src]="content[name]?.imageUrl" alt="placeholder image">
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">
          <h3 class="header-text member-headers" [ngClass]="{ 'left-headers': isOdd, 'right-headers': isEven }">
            {{ name + ' - ' + content[name]?.role }}
          </h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4" *ngIf="isOdd">
          <div class="image-wrapper">
            <img class="image" [src]="content[name]?.imageUrl" alt="placeholder image">
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="3">
          <div class="standard-text" [ngClass]="{ 'left-texts': isOdd, 'right-texts': isEven }" [innerText]="content[name]?.description"></div>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="1" *ngIf="!isLast">
          <hr class="dividers">
        </mat-grid-tile>
      </ng-container>
    </ng-template>
  </mat-grid-list>
</div>
