.member-headers {
  width: 100%;
}

.left-headers {
  text-align: end;
}

.right-headers {
  text-align: start;
}

.left-texts {
  margin-left: 10%;
  text-align: end;
}

.right-texts {
  margin-right: 10%;
  text-align: start;
}
