<div [ngClass]="{ 'dark-theme': darkMode }" id="wrapper">
  <app-header (mobileMenuOpen)="open($event)"></app-header>
  <div id="content-container">
    <div id="background-area"></div>
    <div id="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="mobile-menu" [ngStyle]="{ 'display': (isMobileMenuOpen) ? 'block' : 'none' }">
    <mat-grid-list cols="1" rowHeight="fit" id="menu-items">
      <mat-grid-tile colspan="1" *ngFor="let tab of tabs">
        <button mat-button color="warn" class="menu-buttons" [ngStyle]="{ 'text-decoration': (currentPath === tab.route) ? 'underline' : '' }">
          {{ tab.name }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <button mat-icon-button color="warn" (click)="close()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
