#wrapper {
  height: 100%;

  #content-container {
    height: calc(100vh - 102px);
    overflow: hidden;

    #content-area {
      background-image: url('../assets/images/Background.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(12px);
      height: inherit;
      padding-top: calc(calc(100vh - calc(100vh - 102px)) / 1.5);
      transform: scale(1.1);
    }
  }
}
