#wrapper {
  height: 100%;
}

#content-container {
  height: calc(100vh - var(--header-height));
  overflow: hidden;

  #content-area {
    background-image: url('../assets/images/Background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px) brightness(0.8);
    height: inherit;
    padding-top: calc(calc(100vh - calc(100vh - var(--header-height))) / 1.5);
    transform: scale(1.1);
    z-index: -2;

    .dark-theme & {
      filter: blur(12px) brightness(0.5);
    }
  }
}
