@import '../styles/media-breakpoints.scss';

@mixin tab-theme($bg-color, $color) {
  .mat-tab-label-active {
    background-color: $bg-color !important;
    color: $color !important;
    font-weight: bold;
  }
}

#mobile {
  display: none;
}

mat-toolbar {
  height: var(--header-height) !important;

  #header-content {
    height: inherit;
    overflow: hidden;
    width: inherit;

    .flex-areas {
      height: inherit;

      #logo {
        cursor: pointer;
        height: calc(var(--header-height) + 73px);
        margin: 0 48px 0 -8px;
        padding-top: 18px;
      }

      .social-icons {
        margin: 0 16px;
        min-width: fit-content;
        padding: 0;

        .small-icons {
          display: none;
        }

        .mat-button-ripple {
          bottom: 9px;
          top: 2px;
        }
      }

      #toggle-btn {
        margin: 0 36px 8px 36px;

        #toggle-icon {
          font-size: 3vh;
        }
      }

      .mat-tab-group {
        height: inherit;

        .mat-tab-header {
          height: inherit;

          .mat-tab-labels {
            height: 100%;

            .mat-tab-label {
              height: 100%;
              opacity: 1;

              .mat-tab-label-content {
                font-size: 0.7vw;
              }
            }
          }

          .mat-ink-bar {
            visibility: hidden !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $desktop-6) {
  .mat-tab-label-content {
    font-size: 0.8vw !important;
  }
}

@media screen and (max-width: $desktop-5) {
  #toggle-icon {
    font-size: 3.5vh !important;
  }

  .mat-tab-label-content {
    font-size: 0.9vw !important;
  }
}

@media screen and (max-width: $desktop-4) {
  #logo {
    margin: 0 24px 0 -8px !important;
  }

  .mat-tab-label {
    min-width: 12vw !important;

    .mat-tab-label-content {
      font-size: 1vw !important;
    }
  }
}

@media screen and (max-width: $desktop-3) {
  #header-content {
    margin: 0 8px !important;

    #logo {
      margin: 0 8px 0 -8px !important;
    }

    .mat-tab-label {
      min-width: 11vw !important;

      .mat-tab-label-content {
        font-size: 1.1vw !important;
      }
    }
  }
}

@media screen and (max-width: $desktop-2) {
  #header-content {
    margin: 0 !important;

    #toggle-btn {
      margin: 0 12px 8px 8px !important;
    }

    .mat-tab-label {
      .mat-tab-label-content {
        font-size: 1.2vw !important;
      }
    }
  }
}

@media screen and (max-width: $desktop-1) {
  #header-content {
    margin: 0 !important;

    #logo {
      margin: 0 4px 0 -8px !important;
    }

    .social-icons {
      margin: 0 10px !important;

      .large-icons {
        display: none !important;
      }

      .small-icons {
        display: inline-block !important;
        margin-bottom: -2px !important;
      }
    }

    #toggle-btn {
      margin: 0 10px 8px 6px !important;
    }

    .mat-tab-label {
      min-width: 12vw !important;

      .mat-tab-label-content {
        font-size: 1.2vw !important;
      }
    }
  }
}

@media screen and (max-width: $mobile-6) and (orientation: portrait) {
  #desktop {
    display: none !important;
  }

  #mobile {
    display: block !important;

    mat-toolbar {
      height: var(--header-height-mobile) !important;

      .mobile-icons {
        font-size: 4vw !important;
      }

      #logo {
        height: calc(var(--header-height-mobile) + 73px) !important;
        padding-top: 18px !important;
      }

      .social-icons {
        margin: 0 12px -3px 12px !important;
        min-width: fit-content !important;
        padding: 0;

        .large-icons {
          display: inline-block !important;
        }

        .small-icons {
          display: none !important;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-4) and (orientation: portrait) {
  #mobile {
    mat-toolbar {
      .mobile-icons {
        font-size: 5vw !important;
      }
    }
  }
}

@media screen and (max-width: $mobile-3) and (orientation: portrait) {
  #mobile {
    mat-toolbar {
      .mobile-icons {
        font-size: 6vw !important;
      }
    }
  }
}

@media screen and (max-width: $mobile-2) and (orientation: portrait) {
  #mobile {
    mat-toolbar {
      .social-icons {
        .large-icons {
          display: none !important;
        }

        .small-icons {
          display: inline-block !important;
          margin-bottom: -2px !important;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-2) and (orientation: portrait) {
  #mobile {
    mat-toolbar {
      padding: 0 6px !important;

      .social-icons {
        margin: 0 8px -3px 8px !important;
      }
    }
  }
}
