@use '@angular/material' as mat;
@import './styles/app-theme.scss';

:root {
  --header-height: 102px;
  --header-height-mobile: 112px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
}

#mobile-menu {
  background-color: mat.get-color-from-palette($light-primary, 'default');
  color: mat.get-color-from-palette($light-tabs, 'default');

  .dark-theme & {
    background-color: mat.get-color-from-palette($dark-primary, 'default');
    color: mat.get-color-from-palette($dark-tabs, 'default');
  }
}

.dividers {
  background-color: currentColor;
  height: 0.3vh;
  width: 90%;
}

.header-text {
  font-size: 1.4vw;
}

.image-wrapper {
  height: inherit;

  .image {
    display: block;
    height: auto;
    max-height: 90%;
    max-width: 100%;
    width: auto;
  }
}

.links {
  &:link, &:visited {
    background-color: transparent;
    color: mat.get-color-from-palette($light-primary, 'default');

    .dark-theme & {
      color: mat.get-color-from-palette($dark-tabs, 'default');
    }
  }

  &:active, &:hover {
    background-color: transparent;
    color: $light-primary-text;

    .dark-theme & {
      color: $dark-primary-text;
    }
  }
}

.outer-margins {
  margin: 0 48px;
}

.overlay {
  background-color: $light-secondary-text;
  color: $light-primary-text;
  margin: 5vh 0 2vh 10vw;
  opacity: 0.8;
  width: 80vw;

  .dark-theme & {
    background-color: $dark-secondary-text;
    color: $dark-primary-text;
    opacity: 0.9;
  }
}

.overlay-headers {
  font-size: 1.5vw;
}

.spacer {
  height: 1vh;
}

.spinner {
  filter: brightness(1.2);
}

.standard-text {
  font-size: 1.2vw;
  line-height: 1.2;
  white-space: pre-wrap;
}

@media screen and (max-width: $desktop-6) {
  .overlay-headers {
    font-size: 1.6vw;
  }
}

@media screen and (orientation: portrait) {
  .overlay {
    margin: 4vh 0 2vh 5vw;
    width: 90vw;
  }

  .overlay-headers {
    font-size: 2.6vw;
  }
}
