#wrapper {
  margin-top: 5%;

  #spinner {
    filter: brightness(1.2);
  }

  #home-image {
    height: auto;
    width: 100%;
  }

  #home-text {
    padding: 0 16px;
    white-space: pre-wrap;
  }
}
