<div class="outer-margins overlay" id="wrapper">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile colspan="4" rowspan="6" *ngIf="!isLoaded">
      <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" id="spinner"></app-radar-spinner>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1" *ngIf="isLoaded">
      <h2>
        {{ content?.title }}
      </h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="5" *ngIf="isLoaded">
      <div id="home-image-wrapper">
        <img id="home-image" [src]="content?.imageUrl" alt="placeholder image">
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="5" *ngIf="isLoaded">
      <div id="home-text" [innerHtml]="content?.text"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
