<div class="overlay">
  <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded">
    <div fxLayout="column wrap" fxLayoutAlign="space-around center" class="spinner-wrapper">
      <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
    </div>
  </ng-template>
  <ng-template #loaded>
    <div fxLayout="column wrap" fxLayoutAlign="space-around center">
      <h2 class="overlay-headers" id="home-header">
        {{ content?.title }}
      </h2>
      <div [innerHtml]="content?.text" class="standard-text" id="home-text"></div>
      <div class="image-wrapper" id="home-pic">
        <img [src]="content?.imageUrl" alt="placeholder image" class="image">
      </div>
    </div>
  </ng-template>
</div>
