<div class="outer-margins overlay">
  <mat-grid-list cols="6" rowHeight="3:1">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded">
      <mat-grid-tile colspan="6" rowspan="9">
        <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
      </mat-grid-tile>
    </ng-template>
    <ng-template #loaded>
      <mat-grid-tile colspan="6" rowspan="2">
        <h2 class="overlay-headers">{{ content.title }}</h2>
      </mat-grid-tile>
      <ng-container *ngFor="let event of content.events; last as isLast">
        <mat-grid-tile colspan="3" rowspan="5">
          <div class="image-wrapper">
            <img [src]="event?.imageUrl" alt="placeholder image" class="image">
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
          <h3 class="event-info standard-text">{{ event?.name }}</h3>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
          <p class="event-info standard-text">{{ event?.dateTime!.toDate() | date:'MMMM d, y' }}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="3">
          <div [innerHtml]="event?.description" class="event-info past-text standard-text"></div>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="1" *ngIf="!isLast">
          <hr class="dividers">
        </mat-grid-tile>
      </ng-container>
    </ng-template>
  </mat-grid-list>
</div>
