<div class="outer-margins overlay">
  <mat-grid-list cols="6" rowHeight="7:3">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded">
      <mat-grid-tile colspan="6" rowspan="7">
        <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
      </mat-grid-tile>
    </ng-template>
    <ng-template #loaded>
      <mat-grid-tile colspan="6" rowspan="1">
        <h2 class="overlay-headers">History</h2>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <div class="image-wrapper">
          <img [src]="content?.imageUrl" alt="placeholder image" class="image" id="history-image">
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="4">
        <div class="history-text standard-text" [innerHtml]="content?.text1"></div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2">
        <div class="history-text standard-text" [innerHtml]="content?.text2"></div>
      </mat-grid-tile>
    </ng-template>
  </mat-grid-list>
</div>
