<div class="outer-margins overlay">
  <ng-template [ngIf]="!isLoaded" [ngIfElse]="loaded" class="spinner-wrapper">
    <app-radar-spinner [animationDuration]="1500" [size]="80" [color]="color" class="spinner"></app-radar-spinner>
  </ng-template>
  <ng-template #loaded>
    <div fxLayout="column wrap" fxLayoutAlign="space-around center" fxLayoutGap="2vh">
      <h2 class="overlay-headers">
        {{ content?.title }}
      </h2>
      <div [fxLayout]="(isPortrait) ? 'column-reverse' : 'row'" fxLayoutAlign="space-around center" fxLayoutGap="2vw">
        <div class="image-wrapper">
          <img [src]="content?.imageUrl" alt="placeholder image" class="image" id="history-pic">
        </div>
        <div class="standard-text" id="history-text" [innerHtml]="content?.text"></div>
      </div>
    </div>
  </ng-template>
</div>
